
.default_setting_form {
}

#defaultSettings {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
.default_setting_form .default_f_section {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
	justify-content: space-between;
	align-content: center;
	width: 48%;
	padding: 8px;
	background-color: #fff;
	/*! margin: 6px; */
	box-shadow: 0 0px 1px rgba(0,0,0,0.19), 0 2px 5px rgba(0,0,0,0.23);
	border-radius: 0px;
}
.default_setting_form .default_f_section:nth-child(1){
	justify-content: flex-start;
	gap: 10px;
}
/* .default_setting_form .default_f_section:nth-child(2n) {
   background-color: rgba(0,0,0,.07);
} */
.default_f_section label {

  height: auto;
  padding: 2px 0;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 13px;
  text-transform: capitalize;

}


.zoomLavel {
	
	padding-bottom: 0 !important;

}
.zoomP {
	padding-bottom: 25px !important;
}
.default_f_section input {

  padding: 0px 12px;
  font-size: 12px;
}
.default_f_section p {
  margin: 0;
  padding: 11px 0;

  font-size: 12px;
}
.ikr_dahsbord [type="submit"] {
	padding: 9px 48px;
	line-height: 17px;
	background-color: #2271b1;
	border: none;
	color: #fff;
	font-size: 17px;
	margin-top: 10px;
	
}

.default_setting_form .showOption {
display: none;
	transition: opacity 0.7s ease-in-out, transform 0.3s ease-in-out;
	-webkit-transition: opacity 0.7s ease-in-out, transform 0.3s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out, transform 0.3s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out, transform 0.3s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out, transform 0.3s ease-in-out;
	-webkit-animation: showoption 0.7s ease-in-out ;
	animation: showoption 0.7s ease-in-out ;

}
@keyframes showoption {
	0%{

		transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
}

	100%{
		
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
}
}






@media screen  and (max-width:1224px) {
	.default_setting_form .default_f_section {
	
		width: 40%;
	}
	.ikr_dahsbord [type="submit"] {
		
		margin-left: 7.5%;
	}
	.ikr_dahsbord h1{
		margin-left: 7.5%;
	}
}